body {
	background-color: #2B2F9D;
	margin: 60px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
}

nav a:hover {
  background-color: lightblue;
}

nav a.active {
  background-color: #4CAF50;
}

h1 {
	font-size: 40px;
	color: white;
	font-family:Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-size: 20px;
	color: white;
}

h3 {
	font-size: 18px;
	color: white;
}

p {
	font-size: 16px;
	color: white;
}

dt {
	font-size: 18px;
	color: white;
}

dd {
	font-size: 16px;
	color: white;
}

#profile-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

#profile-list li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: calc((100% - 40px) / 3);
}

#profile-list img {
  display: block;
  height: 250px;
  object-fit: cover;
  width: 100%;
}

#profile-list h2 {
  font-size: 20px;
  margin: 15px;
  text-align: center;
  color: black;
}

#profile-list h3 {
  font-size: 16px;
  margin: 5px 15px;
  text-align: center;
  color: gray;
}

#profile-list p {
  font-size: 14px;
  margin: 15px;
  text-align: justify;
  color: gray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
